<!DOCTYPE html>


<html lang=pt-br>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/polls/style.css">
    <title>SchoolBag</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg" style="background-color: red;">
        <div class="container">
            <h4 class="navbar-branch">SchoolBag</h4>
            <div class="collapse navbar-collapse d-flex-lg justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link">Equipe</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Sobre</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Atividades</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class = 'info' id = 'info'>
            <h2 id = 'info-title'>MM The Game</h2>
            <ul>
                Mathematical Master =>
                <a href="https://github.com/ahdesenvolvimento/tep_20211" target="_blank"><li>Github! </li></a>
                <a href="https://trello.com/b/C67yzjbL/tepschoolbag" target="_blank"><li> Trello! </li></a>
                <a href="https://www.overleaf.com/project/6084376811aca674748f2934" target="_blank"><li>OverLeaf! </li></a>
            </ul>
            <p id = 'info-text'>
                O Game terá como objetivo principal ajudar crianças no aprendizado de matemática
            básica de forma divertida e prática. Utilizando alguns conceitos de estruturas de dados
            como pilhas, listas, filas e talvez algoritmos de ordenação, para ensinar as operações
            básicas da matemática (adição, subtração, multiplicação e divisão), na qual cada estrutura
            irá ensinar a matemática por meio de sua lógica. A princípio, o jogo irá trabalhar com um
            sistema de recompensas para estimular o estudo das crianças e será feito, inicialmente, em
            2D caso o estudo dos integrantes da equipe esteja muito avançado o 3D será considerado
            uma opção. Com relação a jogabilidade, por se tratar de crianças que estão em fase de
            aprendizado, o nosso jogo trabalhará com o touch e não com o mouse. O jogo irá possuir 3
            níveis (fácil, médio e difícil), sendo o fácil operações de subtração e adição, o médio as
            quatro operações e o difícil poderá ter dois caminhos, as quatro operações só que com
            cálculos mais "difíceis" ou as quatro operações com adição de potenciação e raiz quadrada,
            no entanto o grupo irá analisar a disponibilidade de implementar potenciação e raiz
            quadrada, visto que são operações matemáticas avançadas. Essa é a ideia que temos para o primeiro jogo.
            </p>
        </div>
        <div class = 'memb' id = 'member'>
            <h1>Equipe SchoolBag</h1>

            <ul>
                <li>Victor Dourado</li>
                <li>Antônio Henrique</li>
                <li>Raisson</li>
            </ul>
        </div>
     </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>