{% extends 'utils/base.html' %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
<div class="container">
    <div class="login-form">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-outline mt-4 mb-4">
                <label for="" class="">Usuário</label>
                <input type="text" name="username" class="form-control" id="">
            </div>
            <div class="form-outline mt-4 mb-4">
                <label for="" class="">Senha</label>
                <input type="password" name="password" class="form-control" id="">
            </div>
            
            
            <button type="submit" class="btn btn-primary mt-4">Entrar</button>
        </form>
    </div>
    
</div>

{% endblock content %}
    