
body{
    background-color: white;
    background: url('/static/core/img/background.jfif');
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-nav li a , #navtext{
    text-shadow: black 1px 1px 1px;
}


#member{
    visibility: hidden;
}

#navtext, .logo, ul li a{
    transition: all 1000ms;
    color : white;
}

.logo:hover{
    text-decoration: none;
    color: black;
    border-radius: 20%;
    background-color: white;
}

ul li a:hover{
    background-color: white;
    border-radius: 50%;
    color: black;
}

#divinfo  {
    min-height: 100%;
    height: auto;
    margin-top: 95px;
    margin-bottom: 50px;
    background: #f0f4f7;

}

.info-text{
    color: black
}

.img-membro{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.membro{
    min-height: 720px;
    text-align: center;
}

.links-uteis{
  
    position: absolute;
    bottom: 0;
    text-align: left;
}

.footer{
    text-align: center;
    background-color: #0085ff;
}

.footer ul li{
    display: inline;
}

.login-form{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    transform: translateX(-50%) translateY(-50%);
    background-color: red;

}
.login-form form{
    padding: 15px;
}

.login-form button{
    width: 100%;
}
